@using test1.Models
@model test1.Models.dbemp
@{
    ViewBag.Title = "edit";
}
@using (Html.BeginForm())
{
    <style>* {
     font-family: "Courier New";
     font-size: large;
 }</style>
<script src="~/Content/bootstrap.min.css"></script>
<script src="~/Content/bootstrap.min.js"></script>
<h2>Edit</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <td>
                    ID : 
                </td>
                <td>
                    @Html.TextBoxFor(m => m.emp_id,new { @readonly = "readonly" })
                    @*<input type="text" name="id" value="@Model.emp_id"/>*@
                </td>
            </tr>
            <tr>
                <td>
                    Name :
                </td>
                <td>
                    @Html.TextBoxFor(m=> m.emp_name)
                    @*<input type="text" name="name" value="@Model.emp_name"/>*@
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" class="btn btn-primary" style="font-size: large" value="Edit"/>
                </td>
            </tr>
        </table>
    </div>
}